<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="quill" type="Quill.Config.QuillConfigrationSectionHandler, quill" />
  </configSections>
 
  <appSettings>
    <add key="log4net.Config.Watch" value="false"/>
    <add key="log4net.Internal.Debug" value="false" />
  </appSettings>

  <log4net>
    <appender name="File" type="log4net.Appender.FileAppender">
      <file value="quill-test.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %5level - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="File" />
    </root>
  </log4net>
  
  <quill>
    <hoge>XXX</hoge>
    <Mul>AAA</Mul>
    <Mul>BBB</Mul>
    <At hogeAttr="!!!"/>
    <At hogeAttr="wao"/>
    <Par>
      <Chi>ChildValue</Chi>
      <Bro>abc</Bro>
      <Bro>bcd</Bro>
      <Sis>xqw</Sis>
      <Sis>cvb</Sis>
      <Sis>xsd</Sis>
    </Par>
    <Par>
      <Sis>yyy</Sis>
      <Sis>xxx</Sis>
    </Par>
  </quill>
</configuration>